.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 0px 20px;
}

.header-link a {
    color: black;
    margin-left: 10px;
}

.header-link a:hover {
    color: crimson;
}