.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 0px 20px;
}

.header h2:hover {
    color: crimson;
}

.header-link a {
    color: black;
    margin-left: 7px;
}

.header-link a:hover {
    color: crimson;
}

.header hr {
    border: 1px solid gray;
}